data/README.\{\[iso6393\]\}-\{\[iso115924\]\}.md
data/verum/TICO-19/terminologies-google.csv
data/verum/TICO-19/terminologies-facebook.csv
data/verum/TICO-19/translation-memories/*.tmx
data/verum/TICO-19/translation-memories-hxltm/*.csv
!data/verum/TICO-19/translation-memories-hxltm/all.en-ru.tm.hxl.csv
!data/verum/TICO-19/translation-memories-hxltm/all.en-fr.tm.hxl.csv
!data/verum/TICO-19/translation-memories-hxltm/all.en-hi.tm.hxl.csv
data/verum/TICO-19/translation-memories.tm.hxl.csv